* {
  box-sizing: border-box;
}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
}

.chat__list {
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  gap: 2rem;
  height: 500px;
  width: 400px;
}

.chat__list::-webkit-scrollbar {
  display: none;
}

.chat__message {
  width: 300px;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 1rem;
}

.chat__text {
  margin: 0;
}

.chat__form {
  position: relative;
}

.form-field {
  width: 400px;
  height: 50px;
  padding-right: 50px;
}

.chat__btn {
  position: absolute !important;
  top: 5px;
  right: 5px;
}

.chat__loading {
  position: absolute !important;
  top: 5px;
  right: 5px;
  color: #00ce22 !important;
}

.navigation-icon {
  transform: rotate(90deg);
  color: #00ce22;
}

.error-text {
  color: #bb0000;
}
